<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinized!</h1>
    <p><%=@piglatinizer.piglatinize(@user_phrase)%></p>
  </body>
  </html>
